PORT=3402

X402_FACILITATOR_URL=https://facilitator.corbits.dev
X402_PAY_TO=YOUR_SOLANA_WALLET_ADDRESS
X402_NETWORK=mainnet-beta
X402_PRICE_USDC=10000

RUST_API_BASE_URL=http://localhost:8080
AGENT_PROXY_KEY_ID=proxy-dev
AGENT_PROXY_SECRET=replace-me
