SOLANA_PRIVATE_KEY=your-base58-solana-private-key
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
API_URL=http://127.0.0.1:3402
STRATEGY_ID=43620ba3-354c-456b-aa3c-5bf7fa46a6d4
BASE_ASSET=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
DEPOSIT_AMOUNT=10000
WITHDRAW_AMOUNT=1000
SIGN_AND_SEND_TX=true
